/********** Element Selectors **********/


li {
	display: inline;
}

a {
	color: blue;
}

h3 {
	color: #785616;
	margin-left: 1em;

}






/********** Class Selectors **********/

/**** Navbar ****/

.navbar {
	background: #FFB4B0;
	border: black solid;
	margin: 0 5%;
	margin-bottom: 1%;
	width: 88%;
}

/**** Options Box ****/

.options {
	border-style: solid;
	background: #4DD7FA;
	margin-left: 5%;
	width: 23%;
	height: 500px;
}

.length-label,
.artists-label,
.albums-label,
.genre-label {
	margin-top: 2em;
	margin-left: 1em;
}

.slider,
.artists,
.albums {
	margin-left: 1em;
}

.artists-select,
.albums-select,
.length {
	width: 80%;
}

.options,
.songs {
	display: inline-block;
	float: left;
}

.checkbox {
	display: flex;
	flex-direction: column;
	margin-left: 1em;
}

.check-label {
	margin-top: .5em;
	margin-bottom: .5em;
}

/**** Songs Box ****/

.songs {
	border-style: solid;
	background: #FEFAC0;
	width: 63.5%;
	margin-left: 1%;
	margin-right: 5%;
	height: 500px;
}

.song-name {
	color: #785616;
	margin-left: 2em;
	margin-bottom: -.6em;
}

.song-info {
	margin-left: 2em;
	margin-bottom: 3em;
}

.button {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.filter-button {
	width: 40%;
}





/********** Pseudo Classes **********/

/**** Navbar ****/

li:nth-last-of-type(n+2) {
	border-right-style: solid;
	border-width: 2px;
	padding-right: 4px;
}

a:hover {
	color: darkblue;
}

a:focus {
	color: black;
	text-decoration: none;
}

